@{
    ViewData["Title"] = "Erişim Engellendi!";
}

<div class="text-center">

    <h1>
        Erişim Engellendi!
    </h1>

    <div>
        <img src="~/img/lock-300x300.png" class="img-fluid" />
    </div>

    <h3>
        Bu alana erişim hakkınız bulunmamaktadır!
    </h3>

</div>